name: ci

on: [push, pull_request]

jobs:
    build:
        name: vue-template-compiler-${{ matrix.os }}
        runs-on: ${{ matrix.os }}
        strategy:
            matrix:
                os: [macOS-latest, ubuntu-latest, windows-latest]

        steps:
            - name: Clone repository
              uses: actions/checkout@v2

            - name: Install rust
              uses: hecrj/setup-rust-action@v1.3.4
              with:
                  rust-version: stable

            - name: Install clippy and rustfmt
              run: |
                  rustup component add clippy
                  rustup component add rustfmt
            - name: Cache
              uses: actions/cache@v2
              with:
                  path: |
                      ~/.cargo/registry
                      ~/.cargo/git
                      target/
                  key: ${{ runner.os }}-${{ github.sha }}
                  restore-keys: ${{ runner.os }}-

            - name: Format
              if: contains(matrix.os, 'ubuntu')
              run: cargo fmt --all -- --check
            - name: Build
              run: cargo build --locked --release --all-targets --all-features
            - name: Test
              run: cargo test --locked --release --all-targets --all-features
            - name: Lint
              run: cargo clippy --all-targets --all-features --release --locked -- -D clippy::all
                  # - name: Publish
                  #   if: |
                  #       contains(matrix.os, 'ubuntu') &&
                  #       github.repository == 'HerringtonDarkholme/vue-template-compiler' &&
                  #       startsWith(github.ref, 'refs/tags/')
                  #   env:
                  #       CARGO_REGISTRY_TOKEN: ${{ secrets.CARGO_REGISTRY_TOKEN }}
                  #   run: |
                  #       cargo publish -vv
