name: ci

on: [push, pull_request]

jobs:
  build:
    name: vue-template-compiler-${{ matrix.os }}
    runs-on: ${{ matrix.os }}
    strategy:
      matrix:
        os: [macOS-latest, ubuntu-latest, windows-latest]

    steps:
      - name: Clone repository
        uses: actions/checkout@v3
        with:
          submodules: true

      - name: Install rust toolchain
        uses: actions-rs/toolchain@v1
        with:
          components: rustfmt, clippy
      - name: Cache
        uses: actions/cache@v2
        with:
          path: |
            ~/.cargo/registry
            ~/.cargo/git
            target/
          key: ${{ runner.os }}-${{ github.sha }}
          restore-keys: ${{ runner.os }}-

      - name: Format
        if: contains(matrix.os, 'ubuntu')
        run: cargo fmt --all -- --check
      - name: Build
        run: cargo build --locked --release --all-targets --all-features
      - name: Test
        run: cargo test --locked --release --all-targets --all-features
      - name: Lint
        run: cargo clippy --all-targets --all-features --release --locked -- -D clippy::all
      # - name: Publish
      #   if: |
      #       contains(matrix.os, 'ubuntu') &&
      #       github.repository == 'HerringtonDarkholme/vue-template-compiler' &&
      #       startsWith(github.ref, 'refs/tags/')
      #   env:
      #       CARGO_REGISTRY_TOKEN: ${{ secrets.CARGO_REGISTRY_TOKEN }}
      #   run: |
      #       cargo publish -vv
